<html>
<title>
专业垂直搜索
</title>
    <head>
        <script src="js/angular.js"></script>
        <script src="js/control.js"></script>
    </head>
    <body ng-app="app" ng-init="name = 'World'">
        Your name: <input type="text" ng-model="name">
        <hr>
        <h1>Hello {{name}}!</h1>
        <hr>
        Your name: <input type="text" ng-model="yourname" placeholder="World">
        <hr>
        <h1>Hello {{yourname || 'World'}}!</h1>
        <hr>
        <div ng-controller="HelloCtrl">
            Your name: <input type="text" ng-model="cname"><br>
            <hr>
            <h1>Hello,{{cname}}!</h1>
        </div>
    </body>
</html>